@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #040609;
    font-family: var(--FontePrincipal);
}

:root{
    --FontePrincipal: "Open Sans", sans-serif;
    --CorCinza: #8B9095;
}

.container{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding: 32px;
}

.content{
    width: 100%;
    max-width: 1150px;
    color: white;
}

.titulo h1{
    font-size: 30px;
    margin-bottom: 8px;
    font-weight: bolder;
}

.titulo p{
    color: var(--CorCinza);
}


/* CARDS DE STATUS */

.status{
    margin: 25px 0;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    gap: 14px;
}

.MiniCard{
    flex: calc(25% - 14px);
    height: 155px;
    color: var(--CorCinza);
    background-color: #0A0E11;
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: start;
    justify-content: space-between;
    padding: 25px 20px;
    border-radius: 10px;
    box-shadow: 0 0 2px white;
}

.TemaEimg{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.TemaEimg span{
    font-size: 15px;
} 

.DadoEsobre span{
    font-size: 13px;
}

.DadoEsobre p{
    color: white;
    font-weight: bold;
    font-size: 23px;
}


@media only screen and (max-width: 1020px) {
    .MiniCard{
        flex: calc(50% - 14px);
    }

    .container{
        padding: 24px;
    }
}

@media only screen and (max-width: 640px) {
    .MiniCard{
        flex: calc(100% - 14px);
    }

    .container{
        padding: 16px;
    }

    .inputs{
        margin: 10px 0;
        flex-flow: column;
        gap: 20px;
    }

    .boasvindasCard{
        flex-flow: column;
    }
}


/*ADICIONAR AÇÃO */

.AddAcao{
    width: 100%;
    min-height: 250px;
    border-radius: 10px;
    background-color: #0A0E11;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    box-shadow: 0 0 2px white;
    padding: 25px 20px;
}


form{
    display: flex;
    flex-flow: column;
    gap: 20px;
}

#aviso{
    display: none;
    margin-bottom: 15px;
    color: red;
    font-size: 13px;
}

.inputs{
    display: flex;
    color: var(--CorCinza);
}

.inputs div{
    flex: 50%;
}

.inputs input{
    margin: 5px 0;
    background-color: #171B1F;
    color: white;
    width: 95%;
    border-radius: 5px;
    padding: 8px 20px;
    border: none;
    box-shadow:  0 0 2px white;
}

.inputs input:focus{
    outline: none;
    box-shadow: 0 0 4px rgb(10, 196, 10),
    0 0 4px rgb(10, 196, 10),
    0 0 4px rgb(10, 196, 10),
    1px 1px 4px rgb(2, 116, 2),
    -1px -1px 4px rgb(2, 116, 2);
}

form button{
    border: none;
    color: black;
    background-color: #11AD32;
    padding: 12px 0;
    border-radius: 5px;
    width: 100%;
}

/*BOAS VINDAS E EXPLICAÇÃO */

.boasvindas{
    margin: 25px 0;
    padding: 25px 20px;
    background-color: #0A0E11;
    border-radius: 10px;
    text-align: center;
}

.boasvindas span{
    color: var(--CorCinza);
    font-size: 15px;
}

.boasvindasCard{
    display: flex;
    margin: 15px 0;
    gap: 10px;
}

.boasvindasCard div{
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 15px;
    background-color: #111518;
    padding: 25px 20px;
    border-radius: 10px;
}

.comofunciona{
    background-color: #0E1215;
    border-radius: 10px;
    text-align: left;
    padding: 25px 20px;
    display: flex;
    flex-flow: column;
    gap: 10px;
}

.sumir{
    display: none;
}


/*CARD DE MARGENS */

.SuasMargens{
    box-shadow: 0 0 2px white;
    padding: 25px 20px;
    margin: 25px 0;
    display: flex;
    flex-flow: column;
    background-color: #0A0E11;
    gap: 20px;
    border-radius: 10px;
}

.tituloMargens{
    display: flex;
    justify-content: space-between;
}

.tituloMargens button{
    border: none;
    padding: 5px 20px;
    border-radius: 12px;
    box-shadow: 0 0 1px white, 
    0 0 2px white;
    color: white;
    background-color: #040609;
    transition: 0.2s;
}

.tituloMargens button:hover{
    cursor: pointer;
    color: black;
    background: rgb(17, 17, 17);
}

.containerMargem{
    display: flex;
    flex-flow: column;
    gap: 20px;
}

.ativo{
    padding: 15px 20px;
    border-radius: 10px;
    box-shadow:  0 0 2px white;
    background-color: #0B1E14;
    display: flex;
    justify-content: space-between;
}

.ativoNome{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.ativoNome h3{
    letter-spacing: 1px;
}

.ativoNome img{
    width: 50px;
    padding: 12px;
    background-color: rgba(255, 0, 0, 0.281);
    border-radius: 10px;
}

.ativoNome p{
    color: var(--CorCinza);
}

.ativoMargem{
    display: flex;
    align-items: center;
    gap: 20px;
    text-align: center;
}

.ativoMargem label{
    color: var(--CorCinza);
}   